.sidebar li {
  font-weight: bold;
  letter-spacing: 0.142em;
}

.sidebar li li {
  text-transform: initial;
  letter-spacing: initial;
}

.search input {
  background-color: #f5f5f5;
}

.app-name-link img {
  max-width: 70%;
}

.markdown-section p {
  margin-block-start: 0;
}

.markdown-section h2 {
  margin-block-end: 0;
}

.markdown-section table {
  margin-block-end: 2em;
}

.markdown-section thead {
  background-color: #f8f8f8;
}

.markdown-section th:first-child {
  width: 20%;
}

.markdown-section [id^=hidden-header] {
  margin: 0;
  font-size: 0;
}

.markdown-section [id^=hidden-header] + h3 {
  margin: 0;
  font-size: 0;
}
