.sidebar li {
  font-weight: bold;    
  letter-spacing: 0.142em;    
}
.sidebar li li {
  text-transform: initial;    
  letter-spacing: initial;
}
.search input {
  background-color: #f5f5f5;
}
.app-name-link img {
  max-width: 70%;
}
